*
{
     background-image: url(../img/fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
 align-items: center;
}
.main
{
   
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-right: 100px;

}
.title
{
    font-weight: 800;
    padding-top: 100px;
    
}
.footer
{
    font-weight: bold;
}

.pie
{
    display: inline-flex;
}
.sociales
{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 6px 0px;
}
.redes .sociales li 
{
    float: right;
}
.redes .sociales{
    float: right;
}
.redes .sociales ul 
{
    list-style: none;
}
.redes .sociales ul li a
{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 15px;
    font-style: italic;
}
.redes .sociales ul li a:hover
{
    color: brown;
}